/*
COLOR PALETTE
https://coolors.co/f8e9a1-f76c6c-a8d0e6-374785-24305e

#f8e9a1 Medium Champagne
#f76c6c Candy Pink
#a8d0e6 Uranian Blue
#374785 Dark Cornflower Blue
#24305e Space Cadet
*/


/* Global styles
---------------------------*/
body {
    color: #24305e;
}
img {
    width: 300px;
    border: 3px solid #4056a1;
}
a {
    color: #f8e9a1;
}
a:hover {
    text-decoration: none;
}

/* Profile
---------------------------*/
header {
    background: #f76c6c;
}

/* Projects
---------------------------*/
.projects {
    background: #a8d0e6;
}
.projects a {
    color: #f76c6c;
}
.projects .btn {
    color: #f76c6c;
    background: #374785;
    text-decoration: none;
    padding: 8px;
    border-radius: 4px;
}
.projects .btn:hover {
    background: rgba(55, 71, 133, 80%);
}

/* Education
---------------------------*/
.education {
    background: #f8e9a1;
}


/* Contact Info
---------------------------*/
footer {
    
    background: #374785;
}